<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
{{#if post.Comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>
      <div class="card-body">
        {{#each post.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="new-comment-form">
      <h3>Add Comment</h3>
    <div class="card-body">
      <input type="hidden" name="post-id" value="{{post.id}}"/>
      <textarea placeholder="Your Comment..." name="comment-body" class="form-input"></textarea>
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>

<script src="/js/comment.js"></script>
